.component1-container {
  flex: 0 0 auto;
  height: 118px;
  display: flex;
  padding: 1rem;
  position: relative;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: row;
}
.component1-container1 {
  width: 41px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component1-icon {
  fill: #0a9611;
  width: 24px;
  height: 24px;
  align-self: flex-start;
}
.component1-container2 {
  width: 254px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.component1-text {
  color: var(--dl-color-secondary-600);
  margin-bottom: var(--dl-space-space-halfunit);
}
